/build/
/install/
/docs/ntv2.doxy
/driver/*.o
/driver/*.o.cmd
/driver/bin/*.ko
/driver/win
/driver/mac
/driver/linux/.ntv2dma.o.d
/driver/linux/ajardma.mod
/driver/linux/ajardma.mod.c
.DS_Store

# we use tuist to generate the project so don't inlcude it in git
libajantv2.xcodeproj
